{% extends 'base.html.twig' %}

{% block title %}Mon compte - Créations Bois{% endblock %}

{% block content %}

    <h1>Mon compte</h1>
    <p>Bienvenue {{ app.user.firstname }} dans votre compte.</p>

    <hr>
    {% if is_granted('ROLE_ADMIN')%}
        <a href="/admin">- Accéder au backoffice</a><br>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            <div class="account-item text-center">
                <img src="{{ asset('assets/img/mdp.png')}}" alt="Modifier mon mot de passe"><br>
                <a href="{{ path('account_password')}}">Modifier mon mot de passe</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item text-center">
                <img src="{{ asset('assets/img/adresses.png')}}" alt="Gérer mes adresses"><br>
                <a href="{{ path('account_address') }}">Gérer mes adresses</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item text-center">
                <img src="{{ asset('assets/img/commandes.png')}}" alt="Mes commandes"><br>
                <a href="{{ path('account_order') }}">Mes commandes</a>
            </div>
        </div>
    </div>

{% endblock %}
