{% extends 'base.html.twig' %}

{% block title %}Confirmation de commande - Créations Bois{% endblock %}

{% block content %}
    <h2>Confirmation de commande</h2>
    <p>Bonjour <strong>{{ order.user.firstname }}</strong>, nous vous remercions pour votre commande n°<strong>{{ order.reference }}</strong>.<br>
    Une confirmation vient de vous être envoyée par email à l'adresse {{ order.user.email }}.</p>
    <hr>
    <p>Votre commande sera livrée par <strong>{{ order.carrierName }}</strong> à l'adresse suivante:</p>
    <p>{{ order.delivery|raw }}</p>
    <hr>
    <p>Pour suivre votre commande, veuillez vous rendre dans <a href="{{ path('account') }}">votre compte</a>.</p>
{% endblock %}
